.container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
}
.card {
  position: relative;
  width: 90%;
  height: 100%;
  padding: 25px;
  border-radius: 0px;
  box-shadow: 0 0 6px 6px rgb(206, 202, 202);
  background-color: white;
}

.form-group {
  margin-bottom: 15px;
}
.form-group .control-label,
.form-group-default .control-label {
  color: rgba(0, 0, 0, 0.84);
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
  }
}
.form-control {
  border: 0;
  background-image: linear-gradient(#009688, #009688),
    linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #009688;
  color: rgba(255, 255, 255, 0.84);
}
.btn {
  position: relative;
  padding: 8px 30px;
  border: 0;
  display: inline-block;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  user-select: none;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  transition: background-color 0.2s ease,
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}
.btn-primary:hover:not(.btn-link):not(.btn-flat) {
  background-color: #00aa9a;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.333333333333332%;
  }
}
@media (min-width: 992px) {
  .col-md-2 {
    width: 16.666666666666664%;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
  }
}
.pull-right {
  float: right !important;
}
