<app-header></app-header>
<div class="container">
  <div class="card" style="height: 100%;">
    <h3>Index</h3>
    <p>
        <a href="/Account/Register">Create New</a>
    </p>
    <hr>
    <table class="table">
        <tbody><tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Email address
            </th>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th>
                CreatedOn
            </th>
    
            <th></th>
        </tr>
    
    
    </tbody></table>
  </div>
</div>

