<app-header></app-header>
<div class="container">
 
  <a
  href="/productCategory/Create"
  class="btn btn-primary btn-fab btn-raised mdi-content-add"
  style=" float: right; position: relative; top:65px; right: 45px;  background-color: #009688;
    color: rgba(255, 255, 255, 0.84);"
>
<div class="ripple-wrapper"  style="align-items: center; justify-content: center; margin-top: 7px;  ">+</div
  ></a>
  <div class="card" style="height: 100%;">
    <h3>Categories</h3>
    <div id="categoryGrid_wrapper" style="font-size: 13px;" class="dataTables_wrapper no-footer">
      <div class="dataTables_length" id="categoryGrid_length">
        <label
          >Show
          <select
            name="categoryGrid_length"
            aria-controls="categoryGrid"
            class=""
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          entries</label
        >
      </div>
      <div id="categoryGrid_filter" class="dataTables_filter">
        <label
          >Search:<input
            type="search"
            class=""
            placeholder=""
            aria-controls="categoryGrid"
        /></label>
      </div>
      <table
        class="table table-striped table-hover dataTable no-footer"
        id="categoryGrid"
        role="grid"
        aria-describedby="categoryGrid_info"
      >
        <thead>
          <tr role="row">
            <th
              class="sorting"
              tabindex="0"
              aria-controls="categoryGrid"
              rowspan="1"
              colspan="1"
              aria-label="
                        Name
                    : activate to sort column ascending"
              style="width: 182px"
            >
              Name
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="categoryGrid"
              rowspan="1"
              colspan="1"
              aria-label="
                        Description
                    : activate to sort column ascending"
              style="width: 171px"
            >
              Description
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="categoryGrid"
              rowspan="1"
              colspan="1"
              aria-label="
                        Code
                    : activate to sort column ascending"
              style="width: 106px"
            >
              Code
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="categoryGrid"
              rowspan="1"
              colspan="1"
              aria-label="
                        CreatedOn
                    : activate to sort column ascending"
              style="width: 367px"
            >
              CreatedOn
            </th>
            <th
              class="sorting"
              tabindex="0"
              aria-controls="categoryGrid"
              rowspan="1"
              colspan="1"
              aria-label="Actions: activate to sort column ascending"
              style="width: 125px"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td>
              <a
                href="/productCategory/Details/4206c9ac-bf1c-421c-93ab-07d0c211ddba"
              >
                AntiBiotics Tab
              </a>
            </td>
            <td>Tab form</td>
            <td></td>
            <td id="4206c9ac-bf1c-421c-93ab-07d0c211ddba">
              Fri Jun 28 2024 5:18:01 AM
            </td>
            <td>
              <a
                href="/productCategory/Edit/4206c9ac-bf1c-421c-93ab-07d0c211ddba"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="even">
            <td>
              <a
                href="/productCategory/Details/5bf884b4-f7df-4724-b974-005d1e2701b6"
              >
                cate one
              </a>
            </td>
            <td>edesc</td>
            <td>20044</td>
            <td id="5bf884b4-f7df-4724-b974-005d1e2701b6">
              Sat May 04 2024 12:56:20 AM
            </td>
            <td>
              <a
                href="/productCategory/Edit/5bf884b4-f7df-4724-b974-005d1e2701b6"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="odd">
            <td>
              <a
                href="/productCategory/Details/750916c8-c675-4e28-ae04-84327e337416"
              >
                category feb22
              </a>
            </td>
            <td>descr</td>
            <td>cd23</td>
            <td id="750916c8-c675-4e28-ae04-84327e337416">
              Wed Feb 21 2024 9:40:59 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/750916c8-c675-4e28-ae04-84327e337416"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="even">
            <td>
              <a
                href="/productCategory/Details/ef852fa8-52d6-4af5-9e90-603ab39099fc"
              >
                catewoww
              </a>
            </td>
            <td>seee</td>
            <td>www</td>
            <td id="ef852fa8-52d6-4af5-9e90-603ab39099fc">
              Mon Feb 12 2024 11:27:18 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/ef852fa8-52d6-4af5-9e90-603ab39099fc"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="odd">
            <td>
              <a
                href="/productCategory/Details/a79447f8-f0c5-4637-aa36-43188ffef92c"
              >
                cate2
              </a>
            </td>
            <td>descr</td>
            <td>cate saif</td>
            <td id="a79447f8-f0c5-4637-aa36-43188ffef92c">
              Mon Feb 12 2024 9:42:37 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/a79447f8-f0c5-4637-aa36-43188ffef92c"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="even">
            <td>
              <a
                href="/productCategory/Details/d55dc2a1-852a-4dd3-bc60-0ab43871326e"
              >
                cate two
              </a>
            </td>
            <td>derr</td>
            <td>desc22</td>
            <td id="d55dc2a1-852a-4dd3-bc60-0ab43871326e">
              Mon Feb 12 2024 9:40:56 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/d55dc2a1-852a-4dd3-bc60-0ab43871326e"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="odd">
            <td>
              <a
                href="/productCategory/Details/79d2a84f-6b63-45ca-a0de-19d86a5d0e6a"
              >
                cat saff1
              </a>
            </td>
            <td>eee2222</td>
            <td>descr</td>
            <td id="79d2a84f-6b63-45ca-a0de-19d86a5d0e6a">
              Sat Feb 10 2024 2:32:43 AM
            </td>
            <td>
              <a
                href="/productCategory/Edit/79d2a84f-6b63-45ca-a0de-19d86a5d0e6a"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="even">
            <td>
              <a
                href="/productCategory/Details/57ee6ae1-5eaa-43b6-88ed-6fc199eaf348"
              >
                cate 222
              </a>
            </td>
            <td>dess</td>
            <td>222</td>
            <td id="57ee6ae1-5eaa-43b6-88ed-6fc199eaf348">
              Fri Feb 09 2024 11:03:38 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/57ee6ae1-5eaa-43b6-88ed-6fc199eaf348"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="odd">
            <td>
              <a
                href="/productCategory/Details/f7a9a7ca-f1d0-4532-9de7-1c93b730d3c7"
              >
                saif
              </a>
            </td>
            <td>desc</td>
            <td>ac001</td>
            <td id="f7a9a7ca-f1d0-4532-9de7-1c93b730d3c7">
              Fri Feb 09 2024 10:46:20 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/f7a9a7ca-f1d0-4532-9de7-1c93b730d3c7"
                >Edit</a
              >
            </td>
          </tr>
          <tr role="row" class="even" style=" border-bottom: 1px solid #141313;">
            <td>
              <a
                href="/productCategory/Details/dc07647b-5af3-4d93-b215-c76cb27abc61"
              >
                category one
              </a>
            </td>
            <td>esc</td>
            <td>code111</td>
            <td id="dc07647b-5af3-4d93-b215-c76cb27abc61">
              Mon Feb 05 2024 11:05:16 PM
            </td>
            <td>
              <a
                href="/productCategory/Edit/dc07647b-5af3-4d93-b215-c76cb27abc61"
                >Edit</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="dataTables_info"
        id="categoryGrid_info"
        role="status"
        aria-live="polite"
        style="margin-top: 10px; display: inline-block;"
      >
        Showing 1 to 10 of 10 entries
      </div>
      <div
        class="dataTables_paginate paging_simple_numbers"
        id="categoryGrid_paginate"
        style=" display: inline-block; float: right; margin-top: 10px;"
      >
        <a
          class="paginate_button previous disabled"
          aria-controls="categoryGrid"
          data-dt-idx="0"
          tabindex="0"
          id="categoryGrid_previous"
          style="color: rgb(99, 97, 97);"
          >Previous</a
        ><span
          ><button style="border: 1px solid rgb(202, 202, 202); width: 25px; height: 25px; margin: 5px;">1</button></span
        ><a
          class="paginate_button next disabled"
          aria-controls="categoryGrid"
          data-dt-idx="2"
          tabindex="0"
          id="categoryGrid_next"
          style="color: rgb(99, 97, 97);"
          >Next</a
        >
      </div>
    </div>
  </div>
</div>
