<app-header></app-header>
<div
  class="container-fluid body-content"
  style="
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  "
>
  <div class="card" style="width: 90%; height: 100%; margin-right: 5%">
    <div class="row">
      <div
        class="col-md-8 col-md-4"
        id="product-list"
        style="
          width: 66%;
          margin: 0px;
          padding: 0px;
          border-right: 0.5px solid rgb(189, 189, 189);
        "
      >
        <div class="col-md-offset-4" style="display: inline-block">
          <select id="cat_dd1" class="houseComn">
            <option value="-1">All categories</option>
            <option value="0">Antibiotics Tab</option>
            <option value="1">cat saff1</option>
            <option value="2">cat 222</option>
            <option value="3">cat one</option>
            <option value="4">cat two</option>
            <option value="5">cate2</option>
            <option value="6">category feb22</option>
            <option value="7">category one</option>
            <option value="8">catewow</option>
            <option value="9">saif</option>
          </select>
        </div>
        <div class="housekeepingSearch pull-right">
          <button type="button" class="housesearchBtn" onclick="search()">
            <img
              src="../assets/images/searchIcon.png"
              alt="img"
              style="width: 20px; height: 20px"
            />
          </button>
        </div>
        <div class="pull-right" style="display: inline-block; width: 30%">
          <input
            type="text"
            placeholder="Enter Keywords"
            class="houseComn"
            id="searchText"
            name="searchText"
            value
          />
        </div>

        <div class="fab-container">
          <a
            href=""
            class="btn btn-primary btn-fab btn-raised mdi-content-add pull-right"
            style="margin-top: 15px; margin-right: 15px;"
          >
            <div class="ripple-wrapper"  style="align-items: center; justify-content: center; margin-top: 8px;">+</div
          ></a>
          <ul id="products-grid">
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a [routerLink]="['/Products-details']">prod test saif</a>
                  <router-outlet></router-outlet>
                </h4>
                <h5>250.00</h5>
                <p></p>
                <p>Quantity: 1</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/50da7597-fa84-4d33-a143-3ace3056be94"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="r-NNBvwPkaGfeUawUZbA7P5MPTVOJMT5XV7O05uipF3-uoSrvXKVDvnMFOVLyB2GuR6JPKXLRD-RxcBPy9MnSC1DTAtnIup0yxfErMysjoU1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/2a6f5a4e-247a-4497-b230-5e9a963101ce"
                    >product one</a
                  >
                </h4>
                <h5>150.00</h5>
                <p></p>

                <p>Out of stock</p>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/89583997-eb5d-451e-a11a-11df5f1fd92c"
                    >www</a
                  >
                </h4>
                <h5>1500.00</h5>
                <p></p>

                <p>Quantity: 2</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/89583997-eb5d-451e-a11a-11df5f1fd92c"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="ZIWMlxoXJGodW7kb70SBN7sseuEu8qbUkEDTVPQo7gq8AtwGGaj2DHNfAraTcsLLidP05o1PDZzpfMPEiVuPg1oyHJBDw-qkIGkkimknIeQ1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/e4eac14c-e6ab-45d7-85ac-a9b7f611b8e9"
                    >prod 13feb</a
                  >
                </h4>
                <h5>5900.00</h5>
                <p></p>

                <p>Quantity: 12</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/e4eac14c-e6ab-45d7-85ac-a9b7f611b8e9"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="0_RBIAHoWZ7bjIeOYJWabv2_W46q-SYTrcRUNQjNWq74cxnttEdSJ26k8adUs9DGrGOaji9x8BRalXitGKovyr96JnLzumPY2BH2y1YP_SQ1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/ba7019b6-1d96-4f49-8020-8d26e967d3aa"
                    >nameof</a
                  >
                </h4>
                <h5>16000.00</h5>
                <p>description</p>

                <p>Quantity: 2</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/ba7019b6-1d96-4f49-8020-8d26e967d3aa"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="EaNLvg0hMRVV8VD_8aKHZs2NQCjZlm7BEyF2Q0XXoU-WgvNY_Uya1w5VARrL29q-H9LL1dM8NOaSnBJIHPiByg6G_0C7QkBgQRMSAdtrdq01"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/81cabd7d-e4f6-43d9-957e-6a1d8b69a381"
                    >may16 productddd</a
                  >
                </h4>
                <h5>211.00</h5>
                <p></p>

                <p>Quantity: 1</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/81cabd7d-e4f6-43d9-957e-6a1d8b69a381"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="LoaD___EeuVDIbI5c_le3aDr9gx9i17rTJcmHMs9-nnl0b5XNkSict7eihfHAJ7zP21zIOkXs2Hu4qDQnOiEfO4cVbW-kFyqU6ZJ_eYyHrI1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/af008e5d-1102-4491-9e87-2a591829fe64"
                    >may16 two</a
                  >
                </h4>
                <h5>120.00</h5>
                <p></p>

                <p>Quantity: 3</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/af008e5d-1102-4491-9e87-2a591829fe64"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="Rqknk6j89e52QtnlgW6Nmo35aU2GjqeCeJIqXuXn7a1hvsV9Mqstmpvr9k83HPGRuU4y3E6HLPwkpFhxwe5An23vBNsSg2lNg49a6Lkyn8g1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li class="product-item panel panel-default">
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/a1caa5e4-eb75-44ed-bd53-3251bbd7729e"
                    >may16 two</a
                  >
                </h4>
                <h5>3000.00</h5>
                <p></p>

                <p>Quantity: 18</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/a1caa5e4-eb75-44ed-bd53-3251bbd7729e"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="daA2p0xQ35894Q_Mz0C4BN8APreGqA5uBvjkSd0A8NsLHAqgnUBctFGRavh6jW9o7KlYe1dE1HwR8V3lGOVXv4hc57Mu0y9nDxcitOhwVJI1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
            <li
              class="product-item panel panel-default"
              style="position: relative"
            >
              <div class="panel-body">
                <div class="panel-heading"></div>
                <h4>
                  <a
                    href="/products/Details/bba79e02-bda0-46f9-a7e5-d088d31c8818"
                    >Cipro</a
                  >
                </h4>
                <h5>150.00</h5>
                <p>500mg</p>

                <p>Quantity: 8</p>
              </div>
              <div class="panel-footer">
                <form
                  action="/Cart/AddItem/bba79e02-bda0-46f9-a7e5-d088d31c8818"
                  method="post"
                >
                  <input
                    name="__RequestVerificationToken"
                    type="hidden"
                    value="SbqBMNKGBd75oPNDhumAAXaSJQmdfIID82DY9yYa29fcf5vh6jgZPAUav-GaD-bp4bbLMI59EbgrdApNunnBFCSVOOptt5BCmzsp90tEcIo1"
                  />
                  <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-default"
                  />
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="col-md-4 col-md-8 pull-right"
        style="width: 30%; margin-right: 35px"
      >
        <div class="panel panel-default clearfix">
          <div class="panel-heading">
            <h2>Cart</h2>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Sales Price</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <div class="panel-footer clearfix">
            <div class="pull-right">
              <p id="cart-total">Total: 0.00</p>
              <form action="/cart/clear" id="cart-clear" method="post">
                <button type="submit" class="btn btn-default">Clear</button>
              </form>
              <a href=" " disabled="true" class="btn btn-primary">Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
