<app-header></app-header>
<div class="container">
    <a
    href="/productCategory/Create"
    class="btn btn-primary btn-fab btn-raised mdi-content-add"
    style="
      float: right;
      position: relative;
      top: 65px;
      right: 45px;
      background-color: #009688;
      color: rgba(255, 255, 255, 0.84);
    "
  >
    <div
      class="ripple-wrapper"
      style="margin-bottom: 20px"
    >
      +
    </div></a
  >
  <div class="card" style="height: 100%;">
    <h3>Stock</h3>
    <h5>Total stock cost price: 146900.00/-</h5>
    <p>
        <a style="color: #009688;" href="/products/stocklog">Stock Log</a>
    </p>
    <div id="categoryGrid_wrapper" style="font-size: 13px;" class="dataTables_wrapper no-footer">
      <div class="dataTables_length" id="categoryGrid_length">
        <label
          >Show
          <select
            name="categoryGrid_length"
            aria-controls="categoryGrid"
            class=""
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          entries</label
        >
      </div>
      <div id="categoryGrid_filter" class="dataTables_filter">
        <label
          >Search:<input
            type="search"
            class=""
            placeholder=""
            aria-controls="categoryGrid"
        /></label>
      </div>
      <table id="stockGrid" class="table dataTable no-footer" role="grid" aria-describedby="stockGrid_info">
        <thead>
            <tr role="row"><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Name
                : activate to sort column ascending" style="width: 181px;">
                    Name
                </th><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Description
                : activate to sort column ascending" style="width: 134px;">
                    Description
                </th><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Category
                : activate to sort column ascending" style="width: 143px;">
                    Category
                </th><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Quantity
                : activate to sort column ascending" style="width: 104px;">
                    Quantity
                </th><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Cost Price (per item)
                : activate to sort column ascending" style="width: 227px;">
                    Cost Price (per item)
                </th><th class="sorting" tabindex="0" aria-controls="stockGrid" rowspan="1" colspan="1" aria-label="
                    Total Price
                : activate to sort column ascending" style="width: 127px;">
                    Total Price
                </th></tr>
        </thead>
        <tbody>
                
                
                
                
                
                
                
                
                
        <tr role="row" class="odd">
                    <td>
                        <a href="/products/Details/89583997-eb5d-451e-a11a-11df5f1fd92c">www</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        catewoww
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        1000.00
                    </td>
                    <td>
                        2000.00
                    </td>
                </tr><tr role="row" class="even">
                    <td>
                        <a href="/products/Details/5cf65697-0766-442c-ba7c-23db36920ec7">rprod may04</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        cate one
                    </td>
                    <td>
                        17
                    </td>
                    <td>
                        1000.00
                    </td>
                    <td>
                        17000.00
                    </td>
                </tr><tr role="row" class="odd">
                    <td>
                        <a href="/products/Details/af008e5d-1102-4491-9e87-2a591829fe64">may16 two</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        Solar Cable
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        300.00
                    </td>
                </tr><tr role="row" class="even">
                    <td>
                        <a href="/products/Details/a1caa5e4-eb75-44ed-bd53-3251bbd7729e">may16 two</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        Solar Cable
                    </td>
                    <td>
                        18
                    </td>
                    <td>
                        2000.00
                    </td>
                    <td>
                        36000.00
                    </td>
                </tr><tr role="row" class="odd">
                    <td>
                        <a href="/products/Details/50da7597-fa84-4d33-a143-3ace3056be94">prod test saif</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        category one
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        200.00
                    </td>
                    <td>
                        200.00
                    </td>
                </tr><tr role="row" class="even">
                    <td>
                        <a href="/products/Details/81cabd7d-e4f6-43d9-957e-6a1d8b69a381">may16 productddd</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        Solar Cable
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        200.00
                    </td>
                    <td>
                        200.00
                    </td>
                </tr><tr role="row" class="odd">
                    <td>
                        <a href="/products/Details/ba7019b6-1d96-4f49-8020-8d26e967d3aa">nameof</a>
                    </td>
                    <td>
                        description
                    </td>
                    <td>
                        cat saff1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        14000.00
                    </td>
                    <td>
                        28000.00
                    </td>
                </tr><tr role="row" class="even">
                    <td>
                        <a href="/products/Details/e4eac14c-e6ab-45d7-85ac-a9b7f611b8e9">prod 13feb</a>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        cate two
                    </td>
                    <td>
                        12
                    </td>
                    <td>
                        5200.00
                    </td>
                    <td>
                        62400.00
                    </td>
                </tr><tr role="row" class="odd" style="border-bottom: 1px solid black;">
                    <td>
                        <a href="/products/Details/bba79e02-bda0-46f9-a7e5-d088d31c8818">Cipro</a>
                    </td>
                    <td>
                        500mg
                    </td>
                    <td>
                        AntiBiotics Tab
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        100.00
                    </td>
                    <td>
                        800.00
                    </td>
                </tr></tbody>
    </table>
      <div
        class="dataTables_info"
        id="categoryGrid_info"
        role="status"
        aria-live="polite"
        style="margin-top: 10px; display: inline-block;"
      >
        Showing 1 to 9 of 9 entries
      </div>
      <div
        class="dataTables_paginate paging_simple_numbers"
        id="categoryGrid_paginate"
        style=" display: inline-block; float: right; margin-top: 10px;"
      >
        <a
          class="paginate_button previous disabled"
          aria-controls="categoryGrid"
          data-dt-idx="0"
          tabindex="0"
          id="categoryGrid_previous"
          style="color: rgb(99, 97, 97);"
          >Previous</a
        ><span
          ><button style="border: 1px solid rgb(202, 202, 202); width: 25px; height: 25px; margin: 5px;">1</button></span
        ><a
          class="paginate_button next disabled"
          aria-controls="categoryGrid"
          data-dt-idx="2"
          tabindex="0"
          id="categoryGrid_next"
          style="color: rgb(99, 97, 97);"
          >Next</a
        >
      </div>
    </div>
  </div>
</div>

